/* Custom styles for the navbar */
.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.navbar-nav .nav-link {
  position: relative;
  padding: 0.5rem 1rem;
  color: lightcoral;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-nav .nav-link i {
  margin-right: 8px;
}

.navbar-nav .dropdown-menu .dropdown-item i {
  margin-right: 8px;
}

/* Hide icons on mobile view */
@media (max-width: 992px) {
  /* .navbar-nav .nav-link i, .navbar-nav .dropdown-menu .dropdown-item i {
    display: none;
  } */

  .navbar-nav {
    text-align: left;
    padding-left: 20px; /* Adjust as needed */
  }

  .navbar-collapse {
    justify-content: flex-start !important;
  }
}

.navbar-nav .nav-link::before, .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  width: 0;
}

.navbar-nav .nav-link::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav .nav-link::after {
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.navbar-nav .nav-link:hover::before, .navbar-nav .nav-link:hover::after {
  opacity: 1;
  width: 100%;
}

.navbar-nav .nav-link:hover {
  color: #000;
  text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue, 0 0 40px lightblue;
  transform: skewX(-15deg);
  text-decoration: none;
}

.navbar-nav .nav-item.active .nav-link {
  color: darkseagreen;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-collapse {
  transition: all 0.3s ease-in-out;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: none;
}
